.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 0.5rem;
  color: var(--primary-black);
}
.task > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.task > span {
  color: var(--primary-black);
}

.task > .modal > .modal-main > a {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
}
.task > .modal > .modal-main > a > span {
  color: var(--secondary-blue);
  font-weight: 600;
}
.task > .modal > .modal-main > a:hover {
  cursor: pointer;
  background-color: var(--light-gray-bg);
}
.task > .modal > .modal-main > a:hover span {
  color: var(--primary-blue);
}
