.timer-pomodoro,
.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-gray-bg);
  align-items: center;
  gap: 3rem;
}
.timer-pomodoro > span,
.stopwatch > span {
  padding: 0.8rem 2.5rem;
  background-color: white;
  width: max-content;
  border-radius: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--primary-black);
}

.circular-bar {
  width: 400px;
  height: 400px;
  align-self: center;
}
.timer-pomodoro > .primary-btn,
.stopwatch > .primary-btn {
  align-self: center;
}
.timer-pomodoro > .primary-btn > .fa-icon,
.stopwatch > .primary-btn > .fa-icon {
  width: 25px;
  height: 25px;
}

.stopwatch > .time {
  color: var(--primary-black);
  font-size: 6rem;
  font-family: "Fjalla One", sans-serif;
}

.stop-active-modal {
  gap: 1rem;
}
.stop-active-modal > div:first-child {
  padding: 1.25rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.stop-active-modal > div:first-child > small {
  color: var(--primary-black);
}
.stop-active-modal > .actions {
  display: flex;
  flex-direction: column;
}
.stop-active-modal > .actions > div {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.stop-active-modal > .actions > div:hover {
  background-color: whitesmoke;
  color: var(--primary-blue);
  cursor: pointer;
}
.stop-active-modal > .actions > div:first-child,
.stop-active-modal > .actions > div:nth-child(2) {
  border-bottom: 0.5px solid lightgray;
}
.stop-active-modal > .actions > div:nth-child(3) {
  padding-bottom: 1.25rem;
}
