.timer-pomodoro,
.stopwatch {
  display: flex;

  align-items: center;
  flex-direction: column;

  background-color: var(--light-gray-bg);
}
.timer-pomodoro {
  gap: 2rem;
}
.stopwatch {
  gap: 3.5rem;
}
.timer-pomodoro,
.stopwatch {
  padding: 3rem 1rem;
}
.timer-pomodoro > .timer,
.stopwatch > .timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.task-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: var(--primary-black);
  padding: 0 2rem;
}

.task-info > .sub-info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.sub-info > small,
.sub-info > .flex-row-jb {
  border-radius: 1.25rem;
  background-color: white;
  padding: 0.5rem 1.5rem;
}
.sub-info > .flex-row-jb {
  gap: 0.8rem;
}

.circular-bar {
  width: 400px;
  height: 400px;
  align-self: center;
}

.stopwatch > .timer > .time {
  color: var(--primary-black);
  font-size: 7rem;
  font-family: "Fjalla One", sans-serif;
  padding: 6rem 4rem;
  border-radius: 1.5rem;
  background-color: white;
  width: max-content;
}

.stop-active-modal {
  gap: 1rem;
}
.stop-active-modal > div:first-child {
  padding: 1.25rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.stop-active-modal > div:first-child > small {
  color: var(--primary-black);
}
.stop-active-modal > div:first-child > small {
  color: var(--secondary-black);
}
.stop-active-modal > .actions {
  display: flex;
  flex-direction: column;
}
.stop-active-modal > .actions > div {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: var(--primary-black);
}
.stop-active-modal > .actions > div:hover {
  background-color: whitesmoke;
  color: var(--primary-blue);
  cursor: pointer;
}
.stop-active-modal > .actions > div:first-child,
.stop-active-modal > .actions > div:nth-child(2) {
  border-bottom: 0.5px solid lightgray;
}
.stop-active-modal > .actions > div:nth-child(3) {
  padding-bottom: 1.25rem;
}
