.timer-pomodoro,
.stopwatch {
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray-bg);
  gap: 2rem;
}
.timer-pomodoro {
  justify-content: center;
  padding: 3rem 1rem;
}
.timer-pomodoro > .flex-row-jb {
  padding: 1rem 2.5rem;
}
.stopwatch {
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}
.stopwatch > .task-info {
  align-items: center;
}
.task-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--primary-black);
}

.task-info > .sub-info,
.task-info > .header {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.sub-info > .flex-row-jb {
  gap: 0.8rem;
}
.task-info > .header > .dropdown-icon {
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: -15%;
}

.task-info > p {
  margin-top: 1rem;
}
.circular-bar {
  width: 400px;
  height: 400px;
  align-self: center;
}
.timer-pomodoro > .primary-btn,
.stopwatch > .primary-btn {
  align-self: center;
}
.timer-pomodoro > .primary-btn > .fa-icon,
.stopwatch > .primary-btn > .fa-icon {
  width: 25px;
  height: 25px;
}

.stopwatch > .time {
  color: var(--secondary-black);
  font-size: 6rem;
  font-family: "Fjalla One", sans-serif;
  padding: 4rem;
  border-radius: 1.5rem;
  background-color: white;
  width: max-content;
}

.stop-active-modal {
  gap: 1rem;
}
.stop-active-modal > div:first-child {
  padding: 1.25rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.stop-active-modal > div:first-child > small {
  color: var(--primary-black);
}
.stop-active-modal > div:first-child > small {
  color: var(--secondary-black);
}
.stop-active-modal > .actions {
  display: flex;
  flex-direction: column;
}
.stop-active-modal > .actions > div {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: var(--primary-black);
}
.stop-active-modal > .actions > div:hover {
  background-color: whitesmoke;
  color: var(--primary-blue);
  cursor: pointer;
}
.stop-active-modal > .actions > div:first-child,
.stop-active-modal > .actions > div:nth-child(2) {
  border-bottom: 0.5px solid lightgray;
}
.stop-active-modal > .actions > div:nth-child(3) {
  padding-bottom: 1.25rem;
}
