.modal-header {
  padding: 2rem;

  border-bottom: 1px solid lightGray;
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem;
  position: relative;
}
.modal-body > input,
.modal-body > div > input,
.modal-body > select {
  padding: 0.8rem 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}
.modal-body > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.modal-body > div > .due-date,
.modal-body > .priority {
  position: absolute;
  background-color: white;
  padding: 0.5rem 2rem 0.5rem 0.6rem;
  font-size: 0.8rem;
  color: gray;
}
.modal-body > div > .due-date {
  right: 12%;
  top: 10%;
  padding-right: 2.5rem;
}
.hidden {
  display: none;
}
.modal-body > .priority {
  bottom: 20%;
  left: 10%;
}
.modal > input:focus,
.modal-body > div > input:focus,
select:focus,
textarea:focus {
  outline: 1px solid var(--primary-blue);
}
option:invalid {
  color: rgb(245, 245, 245);
}
.modal-body > textarea {
  resize: none;
}
.modal-footer {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid lightGray;
}
.modal-footer > span:first-child {
  color: var(--primary-blue);
  cursor: pointer;
}

.modal-footer > span:nth-child(2),
.modal-footer > span:nth-child(3) {
  color: rgb(101, 101, 101);
  cursor: pointer;
}
